/* common styles */
body {
  background-color: #ffe550;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

/* -------------------------HERO --------------------------*/

.hero {
  padding: 15px 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  max-width: 511px;
}

.hero-title {
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 28px;
}

.hero-text {
  margin-bottom: 46px;
  line-height: 150%;
}
.hero-btn {
}

.hero-img {
  border: 26px solid var(--btn-hover);
  border-radius: 50%;
}

/* ---------------------------Header--------------------------- */
.header {
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  background: #fefefe;
}
.header-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  
}

.nav-list {
  display: flex;
  gap: 28px;
}

.nav-link {
    display: block;
    font-size: 14px;
    color: #2c2c2c;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #bbf330;
  font-weight: 700;
  text-decoration-line: underline;
}

.logo {
  margin-right: auto;
}

.navigation {
  margin-right: 30px;
}



.header-btn {
  cursor: pointer;
  color: #2c2c2c;
  font-size: 13px;
  font-family: inherit;
  font-weight: 500;
  line-height: 150%;
  background-color: #bbf330;
  padding: 6px 18px;
  border: none;
  border-radius: 30px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #ffe450;
}



.offerings-container {
  display: flex;
  align-items: center;
  gap: 90px;
}

.container-inform {
}

.offerings {
}

.offerings-container-image-first {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  position: relative;
}

.offerings-container-image-second {
  width: 502px;
  height: 502px;
  border-radius: 50%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.offerings-container-image-third {
  width: 252px;
  height: 87px;
  fill: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
  filter: blur(13px);
  position: absolute;
  bottom: 75px;
  left: 155px;
  flex-shrink: 0;
}

.offerings-image {
  position: absolute;
  bottom: 102px;
  left: 84px;
}

.offerings-title {
  color: #2c2c2c;
  font-family: Roboto, sans-serif;
  font-size: 42px;
  line-height: 120%;

  display: block;
  max-width: 526px;
  margin-bottom: 20px;
}

.offerings-text {
  color: #2c2c2c;
  font-family: Roboto, sans-serif;
  line-height: 150%;

  display: block;
  max-width: 526px;
  margin-bottom: 40px;
}

.offerings-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 67px;

  margin-bottom: 32px;
}

.offerings-item {
}

.svg-container {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
  background-color: #fefefe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offerings-icon {
  fill: #7eb101;
}

.offerings-subtitle {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 140%;

  margin-bottom: 16px;
}

.offerings-desc {
  color: #2c2c2c;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 150%;
  max-width: 264px;
}

.offerings-btn {
  color: #2c2c2c;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;

  border-radius: 30px;
  border: 2px solid #7eb101;
  background: #fff;
  min-width: 106px;
  padding: 10px 22px;

  cursor: pointer;
}

.offerings-btn:hover,
.offerings-btn:focus {
  border-color: #bbf330;
  background-color: #bbf330;
}

/**
  |============================
  | Favorites - Kolya
  |============================
*/

.favorites-section {
}

.favorites-container {
}

.favorites-title {
}

.fovorites-text {
}

.favorites-list-wrap {
  display: flex;
}

.fovorites-list {
  list-style: none;
}

.favorites-item {
}

.favorites-image {
}


/* ------------------- Subscribe ------------------------ */

.subscribe-section {
  display: flex;
  
}

.subscribe-container {
  
}

.subscribe-title {
  width: 656px;
  color: #2C2C2C;
  font-family: Roboto;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.subscribe-text {
  width: 532px;
  color: #2C2C2C;
  font-family: Roboto;
  line-height: 1.5;
  margin-bottom: 24px;
}

.subscribe-form {}

.subscribe-label {}

.subscribe-input {
  height: 42px;
  min-width: 394px;
  border-radius: 30px;
  border: 2px solid #FFE550;
  background: #FEFEFE;
  height: 42px;
  padding: 12px 57px 12px 12px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 32px;
}

.subscribe-input::placeholder {
  color: #505050;
  
}

.subscribe-btn {
  display: inline-flex;
  min-width: 103px;
  height: 42px;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background: #BBF330;
  color: #2C2C2C;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #ffe450;
}

.subscribe-image {}

